<!doctype html>
<html lang="en">

<head>
  <title>Nyuma</title>
  <script src="vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" />

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" /> -->
  <meta charset="UTF-8">
</head>

<body>



  <div id="app" class="container bg-light p-5">


    <!-- Modal -->
    <div class="modal fade" id="pauseModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Pause</h5>
            <button type="button" class="close" data-dismiss="modal" v-on:click="pauseTraining">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- <div class="modal-body">
              Übung abbrechen?
          </div> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="stopTraining">Training
              abbrechen</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="pauseTraining">Training
              fortsetzen</button>
          </div>
        </div>
      </div>
    </div>

    <h1 class="text-center display-5">Nyuma</h1>
    <h4 class="text-center">Rückentraining ohne Brimborium</h4>

    <div v-if="screen===screens.WELCOME">
      <div class="text-center mt-5 mb-5 font-weight-bold">
        Übungen für heute:
      </div>

      <div v-for="n in 5" class="bg-info bg-white nyuma-rounded p-2 m-2 mb-2">
        <span class="font-weight-bold">Übung {{n}}</span><br />
        {{ exercises[todaysExercises[n-1]].title }}
      </div>
      <div class="text-center mt-3 mb-5">
        Trainingsdauer: {{ estimatedTime }} min
      </div>
      <button class="btn btn-primary p-3 btn-block" v-on:click="startTraining">Start</button>
    </div>

    <div v-if="screen===screens.TRAINING" class="text-center">
      <div class="text-center mt-5 mb-5 display-5">
        <p class="font-weight-bold">Runde {{ round+1 }}, Übung {{ exercise+1 }} </p>
        <p>{{ exercises[todaysExercises[exercise]].title }}</p>
      </div>
      <div class="base-timer text-center justify-content-center mb-5 mt-5">
        <svg class="base-timer-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <g class="base-timer-circle">
            <circle class="base-timer-path-elapsed" cx="50" cy="50" r="45" />
            <circle v-if="timePassed === 0" class="base-timer-path-remaining" cx="50" cy="50" r="45" />
            <path v-if="timePassed > 0 && timePassed < timeTotal" id="base-timer-path-remaining" stroke-dasharray="283"
              class="base-timer-path-remaining" v-bind:d="arc">
            </path>
          </g>
        </svg>
        <span class="base-timer-label">
          {{ timeLeft | formatTimeLeft }}
        </span>

      </div>

      <button type="button" class="btn btn-primary p-3 btn-block" data-toggle="modal" data-target="#pauseModal"
        v-on:click="pauseTraining">Pause</button>


    </div>



  </div>

</body>

<script type="text/javascript">

  window.AudioContext = window.AudioContext || window.webkitAudioContext;
  audioContext = new AudioContext();

  const audioFileUrls = [
    'audio/beginne-die-uebung-in.mp32',
    'audio/beende-die-uebeung-in.mp3',
    'audio/noch-10-sekunden.mp3',
    'audio/noch-20-sekunden.mp3',
    'audio/noch-30-sekunden.mp3',
    'audio/noch-40-sekunden.mp3',
    'audio/und-los.mp3',
    'audio/wechsle-die-seite-und-beginne-die-uebung-in.mp3',
    'audio/zeit-fuer-eine-kurze-pause.mp3',
    'audio/mache-dich-bereit-fuer-die-naechste-uebeungt.mp3',
    'audio/drei.mp3',
    'audio/zwei.mp3',
    'audio/eins.mp3'];
  const audioBuffers = new Map();

  function loadAudioFiles() {
    audioFileUrls.forEach(url => {
      console.log("loading " + url);
      var request = new XMLHttpRequest();
      request.open('GET', url, true);
      request.responseType = 'arraybuffer';
      request.onload = function () {
        audioContext.decodeAudioData(request.response, function (buffer) {
          audioBuffers[url] = buffer;
        }, function (msg) { console.log("error: " + msg); });
      }
      request.send();
    });
  }

  function playAudio(url) {
    const buffer = audioBuffers[url];
    var source = audioContext.createBufferSource();
    source.buffer = buffer;
    source.connect(audioContext.destination);
    source.start(0);
  }

  function initAudio() {
    console.log("load audio item");
    loadAudioFiles();
  }


  var screens = {
    WELCOME: 'welcome-screen',
    TRAINING: 'training-screen',
  };

  const phases = {
    INIT: { name: 'init', length: 0 },
    BEFORE_TRAINING: { name: 'before-training', length: 10 },
    EXERCISE: { name: 'exercise', length: 40 },
    EXERCISE_SIDE_1: { name: 'exercise-side-1', length: 30 },
    EXERCISE_SIDE_2: { name: 'exercise-side-2', length: 30 },
    SWITCH_SIDES: { name: 'switch-sides', length: 5 },
    BETWEEN_EXERCISE: { name: 'between-exercises', length: 20 },
    BETWEEN_ROUND: { name: 'between-rounds', length: 30 },
    AFTER_TRAINING: { name: 'after-training', length: 10 },
  };

  var nyuma = new Vue({
    el: '#app',
    data: {
      sitename: 'Nyuma',
      screens,
      screen: screens.WELCOME,
      phases,
      phase: phases.WARMUP,
      round: 0,
      exercise: 0,
      today: new Date(),
      todaysExercises: [],
      estimatedTime: 30,
      timeTotal: 10,
      timeLeft: 0,
      timerInterval: null,
      timePassed: 0,
      arcSpec: "M 50 50 m 0 -45 A 45 45 0 1 0 95 50",
      exercises: [
        {
          title: "Supermann",
          sides: 1
        },
        {
          title: "Käfer auf dem Bauch",
          sides: 2
        },
        {
          title: "Käfer auf dem Rücken",
          sides: 1
        },
        {
          title: "Schmetterling",
          sides: 1
        },
        {
          title: "Ausfallschritt, nach vorne und halten",
          sides: 2
        },
        {
          title: "Ausfallschritt, zur Seite mit rotierenden Armen",
          sides: 2
        },
        {
          title: "Kniebeugen",
          sides: 1
        },
        {
          title: "Liegestütz, Oberkörper auf- und ab",
          sides: 1
        },
        {
          title: "Liegestütz, mit kleinen Schritten vor- und zurück",
          sides: 1
        },
        {
          title: "Liegestütz, abwechselnd die Knie anziehen",
          sides: 1
        },
        {
          title: "Brücke",
          sides: 1
        },
        {
          title: "Seitstütz, auf Unterarm",
          sides: 2
        },
        {
          title: "Sit-ups",
          sides: 1
        },
        {
          title: "Sit-ups seitlich",
          sides: 1
        },
        {
          title: "Sitzen, Beine abwechselnd ausstrecken",
          sides: 1
        },
        {
          title: "Gesäß auf Fersen",
          sides: 1
        },
        {
          title: "Rückenlage, Gesäß abheben und ein Bein anziehen",
          sides: 2
        },
        {
          title: "Rückenlage, Gesäß abheben und ein Bein ausstrecken",
          sides: 2
        },
        {
          title: "Seitenlage, Beine abheben und halten",
          sides: 2
        },
        {
          title: "Seitenlage, Beine abheben und oberes Bein auf und ab",
          sides: 2
        },
        {
          title: "Seitenlage, Beine abheben und Arme strecken",
          sides: 2
        },
        {
          title: "Vierfüßlerstand, Arm und Bein diagonal strecken",
          sides: 1
        },
        {
          title: "Vierfüßlerstand, Arm nach oben rotieren",
          sides: 2
        },
        {
          title: "Vierfüßlerstand, Knie anheben",
          sides: 1
        },
        {
          title: "Brücke",
          sides: 1
        },
      ]
    },
    methods: {
      startTraining() {
        this.screen = screens.TRAINING;
        this.round = 0;
        this.exercise = 0;
        this.phase = phases.BEFORE_TRAINING;
        this.enter(phases.BEFORE_TRAINING);
        this.startTimer();
      },
      pauseTraining() {
        this.screen = screens.TRAINING;
        if (this.timerInterval == null)
          this.startTimer();
        else
          this.stopTimer();
      },
      stopTraining() {
        this.screen = screens.WELCOME;
        this.stopTimer();
      },
      enter(phase) {
        this.phase = phase;
        this.timeTotal = phase.length;
        this.timeLeft = phase.length;
        this.timePassed = 0;
      },
      play() {

        playAudio('audio/drei.mp3');

      },
      audio() {

        var phase = this.phase;
        var timeLeft = this.timeLeft;
        var timePassed = this.timePassed;

        switch (this.phase) {
          case phases.BEFORE_TRAINING:
            if (timeLeft == 8)
              playAudio('audio/mache-dich-bereit-fuer-die-naechste-uebeungt.mp3');
            if (timeLeft == 5)
              playAudio('audio/beginne-die-uebung-in.mp3');
            if (timeLeft == 0)
              playAudio('audio/und-los.mp3');
            break;
          case phases.EXERCISE:
            if (timeLeft == 31)
              playAudio('audio/noch-30-sekunden.mp3');
            if (timeLeft == 21)
              playAudio('audio/noch-20-sekunden.mp3');
            if (timeLeft == 11)
              playAudio('audio/noch-10-sekunden.mp3');
            if (timeLeft == 5)
              playAudio('audio/beende-die-uebeung-in.mp3');
            if (timeLeft == 0)
              playAudio('audio/zeit-fuer-eine-kurze-pause.mp3');
            break;
          case phases.BETWEEN_EXERCISE:
            if (timeLeft == 8)
              playAudio('audio/mache-dich-bereit-fuer-die-naechste-uebeungt.mp3');
            if (timeLeft == 5)
              playAudio('audio/beginne-die-uebung-in.mp3');
            if (timeLeft == 0)
              playAudio('audio/und-los.mp3');
            break;
          case phases.BETWEEN_ROUND:
            if (timeLeft == 5)
              playAudio('audio/beginne-die-uebung-in.mp3');
            break;
        }

        if (timeLeft == 3) {
          playAudio('audio/drei.mp3');
        }
        if (timeLeft == 2) {
          playAudio('audio/zwei.mp3');
        }
        if (timeLeft == 1) {
          playAudio('audio/eins.mp3');
        }
      },
      tick() {
        this.timePassed += 1;
        this.timeLeft -= 1;

        if (this.timeLeft == -1) {
          switch (this.phase) {
            case phases.INIT:
              this.enter(phases.BEFORE_TRAINING);
              break;
            case phases.BEFORE_TRAINING:
              this.enter(phases.EXERCISE);
              break;
            case phases.EXERCISE:
            case phases.EXERCISE_SIDE_2:
              this.enter(phases.BETWEEN_EXERCISE);

              this.exercise += 1;
              if (this.exercise > 4) {
                this.enter(phases.BETWEEN_ROUND);
                this.exercise = 0;
                this.round += 1;
              }

              if (this.round > 2) {
                this.enter(phases.AFTER_TRAINING);
              }
              break;
            case phases.EXERCISE_SIDE_1:
              this.enter(phases.SWITCH_SIDES);
              break;
            case phases.SWITCH_SIDES:
              this.enter(phases.EXERCISE_SIDE_2);
              break;
            case phases.BETWEEN_EXERCISE:
            case phases.BETWEEN_ROUND:
              if (this.exercises[this.todaysExercises[this.exercise]].sides == 1)
                this.enter(phases.EXERCISE);
              else
                this.enter(phases.EXERCISE_SIDE_1);
              break;
            case phases.AFTER_TRAINING:
              this.timeTotal = 40;
              clearInterval(this.timerInterval);
              break;
          }
        }

        this.audio();
      },
      startTimer() {
        if (this.timerInterval != null)
          return;

        this.timerInterval = setInterval(() => {
          this.tick();
        }, 1000);
      },
      stopTimer() {
        clearInterval(this.timerInterval);
        this.timerInterval = null;
      },
    },
    filters: {
      formatTimeLeft: function (time) {
        if (time < 0)
          time = 0;
        const minutes = Math.floor(time / 60);
        let seconds = time % 60;
        if (seconds < 10) {
          seconds = `0${seconds}`;
        }
        return `${minutes}:${seconds}`;
      },
    },
    computed: {
      arc() {
        timePassed = this.timePassed;
        if (timePassed <= 0)
          timePassed = 0.5;
        if (timePassed >= this.timeTotal)
          timePassed = this.timeTotal;

        const angle = 2 * Math.PI * (timePassed) / this.timeTotal;
        const c = 45 * Math.cos(angle);
        const s = 45 * Math.sin(angle);

        if (angle > Math.PI)
          arcSpec = "M 50 5 A 45 45 0 0 0 " + (50 + s) + " " + (50 - c);
        else
          arcSpec = "M 50 5 A 45 45 0 1 0 " + (50 + s) + " " + (50 - c);

        return arcSpec;
      },
      currentExercise() {
        return this.exercises[this.todaysExercises[this.exercise]];
      }
    },
    created: function () {
      this.todaysExercises = [];
      while (this.todaysExercises.length < 10) {
        const random = Math.floor(Math.random() * this.exercises.length);
        if (!this.todaysExercises.includes(random))
          this.todaysExercises.push(random);
      }

      this.estimatedTime = 60;
      var estimatedSeconds = 0;
      for (var i = 0; i < this.todaysExercises.length; ++i)
        if (this.exercises[this.todaysExercises[i]].sides === 1)
          estimatedSeconds += (40 + 20);
        else
          estimatedSeconds += (60 + 20);
      console.log(estimatedSeconds);
      this.estimatedTime = Math.ceil(3 * estimatedSeconds / 60);

      initAudio();
    },
  });

</script>

<script src="js/jquery-3.5.1.slim.min.js"></script>

<script src="js/popper.min.js"></script>

<script src="js/bootstrap.min.js"></script>



<!--
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
-->

<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->

<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->


</body>

</html>