<!doctype html>
<html lang="en">

<head>
  <title>Nyuma</title>
  <script src="vue.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" />

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" /> -->
  <meta charset="UTF-8">
</head>

<body>
  <div id="app" class="container bg-light">

    <h1 class="text-center display-3">Nyuma</h1>

    <div v-if="showWelcome">
      <div class="text-center mt-5 mb-5">
        Today's exercises:
      </div>

      <div v-for="n in 5" class="bg-info bg-white nyuma-rounded p-2 m-2 mb-2">
        Exercise {{n}}<br />
        {{ exercises[todaysExercises[n-1]].title }}
      </div>
      <div class="text-center mt-3 mb-5">
        Estimated time: {{ estimatedTime }} min
      </div>
      <button class="btn btn-primary p-3 btn-block" v-on:click="startTraining">Start</button>
      <div>
        <p>x</p>
      </div>
    </div>
    <div v-else class="text-center">
      <div class="text-center mt-5 mb-1 display-5">
        Runde {{ 1 + Math.floor(currentExcercise / 5) }}, Exercise {{ 1 + currentExcercise % 5 }}<br />
        {{ exercises[todaysExercises[currentExcercise % 5]].title }}
      </div>
      <div class="base-timer text-center justify-content-center mb-2">
        <svg width="100" height="100" class="base-timer-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1">
          <g class="base-timer-circle">
            <circle class="base-timer-path-elapsed" cx="50" cy="50" r="45" />
            <path id="base-timer-path-remaining" stroke-dasharray="283" class="base-timer-path-remaining"
              v-bind:d="arc">
            </path>
            <!-- <path id="base-timer-path-remaining" stroke-dasharray="283" class="base-timer-path-remaining"
            d="
              M 50, 50
              m -45, 0
              a 45,45 0 1,0 90,0
              a 45,45 0 1,0 -90,0">
            </path> -->
          </g>
        </svg>
        <span class="base-timer-label">
          {{ timeLeft | formatTimeLeft }}
        </span>

      </div>

      <button class="btn btn-primary p-3 btn-block" v-on:click="startTimer">Start timer</button>
      <button class="btn btn-primary p-3 btn-block" v-on:click="nextExercise">Next</button>
      <button class="btn btn-primary p-3 btn-block" v-on:click="stopTraining">Pause</button>

    </div>
  </div>
</body>

<script type="text/javascript">

  const phases = {
    WARMUP: 'warmup',
    EXERCISE: 'exercise',
    REST: 'rest',
    COOLDOWN: 'cooldown'
  };

  var nyuma = new Vue({
    el: '#app',
    data: {
      sitename: 'Nyuma',
      today: new Date(),
      todaysExercises: [],
      estimatedTime: 30,
      showWelcome: false,
      currentExcercise: 0,
      timeTotal: 40,
      timeLeft: 0,
      timerInterval: null,
      timePassed: 0,
      phase: phases.WARMUP,
      arcSpec: "M 50 50 m 0 -45 A 45 45 0 1 0 95 50",
      exercises: [
        {
          title: "Supermann",
          sides: 1
        },
        {
          title: "Käfer auf dem Bauch",
          sides: 1
        },
        {
          title: "Käfer auf dem Rücken",
          sides: 1
        },
        {
          title: "Schmetterling",
          sides: 1
        },
        {
          title: "Ausfallschritt, nach vorne und halten",
          sides: 2
        },
        {
          title: "Ausfallschritt, zur Seite mit rotierenden Armen",
          sides: 2
        },
        {
          title: "Kniebeugen",
          sides: 1
        },
        {
          title: "Liegestütz, Oberkörper auf- und ab",
          sides: 1
        },
        {
          title: "Liegestütz, mit kleinen Schritten vor- und zurück",
          sides: 1
        },
        {
          title: "Liegestütz, abwechselnd die Knie anziehen",
          sides: 1
        },
        {
          title: "Brücke",
          sides: 1
        },
        {
          title: "Seitstütz, auf Unterarm",
          sides: 2
        },
        {
          title: "Sit-ups",
          sides: 1
        },
        {
          title: "Sit-ups seitlich",
          sides: 1
        },
        {
          title: "Sitzen, Beine abwechselnd ausstrecken",
          sides: 1
        },
        {
          title: "Gesäß auf Fersen",
          sides: 1
        },
        {
          title: "Rückenlage, Gesäß abheben und ein Bein anziehen",
          sides: 2
        },
        {
          title: "Rückenlage, Gesäß abheben und ein Bein ausstrecken",
          sides: 2
        },
        {
          title: "Seitenlage, Beine abheben und halten",
          sides: 2
        },
        {
          title: "Seitenlage, Beine abheben und oberes Bein auf und ab",
          sides: 2
        },
        {
          title: "Seitenlage, Beine abheben und Arme strecken",
          sides: 2
        },
        {
          title: "Vierfüßlerstand, Arm und Bein diagonal strecken",
          sides: 1
        },
        {
          title: "Vierfüßlerstand, Arm nach oben rotieren",
          sides: 2
        },
        {
          title: "Vierfüßlerstand, Knie anheben",
          sides: 1
        },
        {
          title: "Brücke",
          sides: 1
        },
      ]
    },
    methods: {
      startTraining() {
        this.showWelcome = false;
        this.phase = phase.WARMUP;

      },
      stopTraining() {
        this.showWelcome = true;
      },
      nextExercise() {
        this.showWelcome = false;
        this.currentExcercise += 1;
        if (this.currentExcercise > 24) {
          this.currentExcercise = 0;
          this.showWelcome = true;
        }
      },
      startTimer() {
        this.timeLeft = this.timeTotal;
        this.timePassed = 0;
        this.timerInterval = setInterval(() => {
          this.timePassed += 1;
          this.timeLeft -= 1;
        }, 1000);
      },
    },
    filters: {
      formatTimeLeft: function (time) {
        const minutes = Math.floor(time / 60);
        let seconds = time % 60;
        if (seconds < 10) {
          seconds = `0${seconds}`;
        }
        return `${minutes}:${seconds}`;
      },
    },
    computed: {
      arc() {
        // arcSpec: "M 50 50 m 0 -45 A 45 45 0 1 0 95 50"

        timePassed = this.timePassed;
        if (timePassed == 0)
          timePassed = 0.5;

        const angle = 2 * Math.PI * (timePassed) / this.timeTotal;
        const c = 45 * Math.cos(angle);
        const s = 45 * Math.sin(angle);

        if (angle > Math.PI)
          arcSpec = "M 50 5 A 45 45 0 0 0 " + (50 + s) + " " + (50 - c);
        else
          arcSpec = "M 50 5 A 45 45 0 1 0 " + (50 + s) + " " + (50 - c);

        return arcSpec;
      }
    },
    created: function () {
      this.todaysExercises = [];
      while (this.todaysExercises.length < 10) {
        const random = Math.floor(Math.random() * this.exercises.length);
        if (!this.todaysExercises.includes(random))
          this.todaysExercises.push(random);
      }

      this.estimatedTime = 60;
      var estimatedSeconds = 0;
      for (var i = 0; i < this.todaysExercises.length; ++i)
        if (this.exercises[this.todaysExercises[i]].sides === 1)
          estimatedSeconds += (40 + 20);
        else
          estimatedSeconds += (60 + 20);
      console.log(estimatedSeconds);
      this.estimatedTime = Math.ceil(3 * estimatedSeconds / 60);
    },
  });

</script>

<script src="jquery-3.5.1.slim.min.js" />
<script src="popper.min.js"/>
<script src="bootstrap.min.js"/>

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
-->

</body>

</html>